{% extends "auctions/layout.html" %}

{% block body %}
    <h6>{{ message }}</h6>
    <h6>{{ message2 }}</h6>
    <h4>{{ f1.title }}</h4>
    <p>{{ f1.description }} <br> {{ f1.currentprice }} &#x20b9<br><hr>
    <img src="{{ f1.imageupload }}" width="30%" height="30%">
    <form action="{% url 'bid' f1.id %}" id="form1" method="post">
        {% csrf_token %}
        <label for="bidprice">Your Bid Price :</label>
        <input type="number" id="bidprice" name="bidprice" class="box">
        <button type="submit" form="form1" class="button">Submit</button>
    </form>
    <form action="{% url 'wishlist' f1.id %}" method="POST" id="form3">
        {% csrf_token %}
        <button type="submit" form="form3" class="button">Add this to your wishlist</button>
        <br>
    </form>
    {% if f1.closed %}
        <h6>Sorry, cannot place bid. It is closed.</h6>
    {% endif %}
    {% if f2 %}
            <form action="{% url 'closebid' f1.id%}" id="form2">
                <button type="submit" form="form2" class="button">Close bid</button>
            </form>
    {% endif %}
    <br><br>
    <h6>Comment Section : </h6><hr>
    <ul>
    {% for i in message3 %}
    <li><h6>{{ i.commentuser }}</h6>{{ i.comment }} <hr></li>
    {% endfor %}
    </ul>
    <form action="{% url 'comment' f1.id %}" method="POST" id="form4">
        {% csrf_token %}
        <label for="comment">New Comment:</label>
        <input type="text" id="comment" name="comment" class="boxb">
        <button type="submit" form="form4" class="button">Comment</button>
    </form>
{% endblock %}