{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} : Edit
{% endblock %}

{% block body %}

<form action="/saveedit/{{ title }}" method="POST">
    {% csrf_token %}

        <div class="form-group">
            <label class="form-titles"><h1>Page Content : </h1></label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="8">{{text}}</textarea>
        </div>
    <button type="submit" class="btn btn-outline-dark">Submit</button>  
    
</form>

{% endblock %}